body {
    font-family: 'Roboto', sans-serif;
  }
 
  h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 2%;
  color: red;
 }

 .navig {
   margin-top: 5%;
 }

 .hero {
   margin-top: -15%;
   margin-bottom: 5%;
   position: relative;
   z-index: -1;
 }

 .instructions {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px black;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  position: relative;
  margin-top: -30%;
  color: rgb(255, 255, 255);
 }

.instructions-div {
  padding-left:10%;
  padding-right: 10%;
  display: inline;
  height: 100px;
  border: 2px solid red;
}
 
 .title {
   font-size: 1.5rem;
 }

 .subs {
  font-family: 'Amatic SC', cursive; 
  text-align: center;
  font-size: 6rem;
  line-height: 1.5;
  color: white;
  text-shadow: 2px 2px 6px black;
  position: relative;

 }

 .img-fluid {
   max-width: 100%;
   height: auto;
   margin-top: 0; 
 }

 .submit {
    background-color: rgb(245, 173, 18);
    border: 2px solid white;
    border-radius:50%;
    width: 5rem;
    height: 5rem;
    color: white;
    font-size: 1.1rem;
 }

 .prev {
  float: left;
}

.next {
  float: right;
}
.container {
  width: 100%;
}

.forCards {
  margin: 15%;
}

.card {
  display:inline-block;
  margin: 5px;
  box-shadow: 2px 2px 3px hsl(180, 1%, 66%);
} 

.card-img-top {
  margin-bottom: 3%;
  border-radius: 0%;
  box-shadow: 2px 2px 3px hsl(180, 1%, 66%);
}

.col {
padding-bottom: 0;
text-align: center;
}

/* .card-img-top {
  width: 100%;

} */

.row {
  width: 100%;
}

.card-artTitle {
  font-family: 'Roboto';
  font-weight: 300; 
  font-size: 1rem;
  line-height: 1.2;
  text-align: center; 
}

.card-body {
  height: 80px;
}



 /* font-family: 'Just Another Hand', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Roboto', sans-serif; */
